@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.devise_title{
  margin:10px 0 10px 0;
  color: black;
  border-bottom: inset 2px black;
  width:90%;
}

.circle-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

#img_prev {
  width: 300px;
  height: 300px;
  position: relative;
  display:block;
  margin-bottom: 15px;
}

.gear_image {
  width: 300px;
  height: 300px;
  position: relative;
  display:block;
  margin-bottom: 15px;

}

/* フォローボタン */
.flowbtn11{
font-family:'Verdana',sans-serif;	
border-radius:4px;
position:relative;
display:inline-block;
width:30%;
font-size:20px;
color:#fff!important;
text-decoration:none;
margin-bottom:5px;
}
/* プロフィール */
.fl_pf11{
background:#555;
}
/* アイコンボタンホバー時 */
.flowbtn11:hover span{
-webkit-transform: rotateX(360deg);
-ms-transform: rotateX(360deg);
transform: rotateX(360deg);
text-decoration:none;
}
/* ボタン内テキスト調整 */
.flowbtn11 span{
font-size:14px;	
position:relative;
left:8px;
bottom:2px;
transition:.6s;	
display:inline-block;	
}

.flowbtn12{
font-family:'Verdana',sans-serif;	
border-radius: 4px;
display:inline-block;
width:30%;
font-size:18px;
transition:.4s;	
text-decoration:none;
}
/* ボタン内テキストマウスホバー時 */
.flowbtn12:hover{
color:#fff!important;
text-decoration:none;
}

/* プロフィールアイコン */
.flowbtn12.fl_pf12{
border:solid 1px #555;
color:#555;
}
/* プロフィールアイコンマウスホバー時 */
.flowbtn12.fl_pf12:hover{
border:solid 1px #555;
background:#555;
}
/* ボタン内テキスト調整 */
.flowbtn12 span{
font-size:14px;	
position:relative;
left:8px;
bottom:2px;	
}

footer{
  border-top: inset 1px brown;
  height:100px;
  width:100%;
  margin-top:20px;
  .container{
    p{
        font-size: 1.4rem;
        padding: 0, auto;
        text-align: center;

        a{
          font-size: 1.5rem;
          @media(min-width:769px){
            &:hover{
              color:black;
            }  
          }
        }  
      }
  }
  .footer_bar{
    font-size: 0.8rem;
    margin-bottom:160px;
    text-align: center;
  }
}